
.button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .button_1 {
        margin-right: 16px;
    }
}

// .table_details_item {
//     // background-color: #E9E9E9;
//     background: linear-gradient(-90deg, #E1E1E1 1%, #BFBFBF 100%);
// }