
.g_table{margin-top : 16px;}
.deposit .hr{margin : 16px 0;}
.deposit em{font-style: normal;}
.deposit .tips{background: rgba(1,121,255,0.05); border: 1px solid rgba(63,127,255,0.30); border-radius: 4px; border-radius: 4px;margin-top: 16px;}
.detailModal .ant-modal-header{background-image: linear-gradient(-90deg, #142B6B 0%, #0179FF 100%);}
.detailModal .ant-modal-title{color : #FFF;}
.detailModal .detailContent{padding-top :8px;padding-left : 16px;}
.detailModal .ant-form-item-label{width : 94px;}
.detailModal .ant-form-item-label label{color: #656771;}
.detailModal .flex{display: flex;margin-bottom: 0;}
.detailModal .ant-modal-close{color : #FFF;}
