.invoice_details_box {
    box-sizing: border-box;

    :global {
        .invoice_details_content {
            box-shadow: 0 2px 14px 0 rgba(0,0,0,0.10);
            border-radius: 4px;
            overflow: hidden;
        }
        .col1_title_box {
            display: flex;
            flex-direction: row;
            align-items: center;
            // padding-bottom: 15px;
            // border-bottom: 1px solid #E9E9E9;
            
            .title_rectangle {
                width: 6px;
                height: 12px;
                background-image: linear-gradient(-90deg, #61B7FF 0%, #0179FF 100%);
                border-radius: 2px;
                border-radius: 2px;
                margin-right: 8px;
            }
        }
    
        .invoice_col {
            // padding: 8px 0 15px 0;
            height: 40px;
            display: flex;
        }
    
        .title_name {
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #2C2D31;
            line-height: 14px;
    
            .title_data {
                font-size: 14px;
                color: #36DCB6;
            }
    
            .title_data2 {
                font-size: 14px;
                color: #2C2D31;
            }
        }
    
        .button_line {
            border-bottom: 1px solid #E9E9E9;
        }
    }
}