.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.mxjCarousel-left-icon{
  font-size: 30px;
  position: absolute;
  top: 66px;
  left: 34px;
  z-index: 100;
  color: white;
}

.mxjCarousel-right-icon{
  font-size: 30px;
  position: absolute;
  top: 66px;
  right: 34px;
  z-index: 100;
  color: white;
}